# Packages
node_modules
**/node_modules

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid 
*.seed

# Miscellaneous
.tmp/
dist
typings
public
test/config.js

# yarn v2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
